/*定义所有文字颜色为黑色*/
* {
    color:black ; 
}

/*定义背景颜色为白*/
body {
    background-color: white ;
    /*cursor: none;*/
}

/*定义实验指导语样式*/
.experiment-instruction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 300%;
    font-family: Arial;
}

/*定义实验材料样式*/
/*.experiment-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 600%;
    font-family: Arial;
}*/

/*定义p元素居中对齐*/
p {
    text-align: center;
    vertical-align:auto;
}

/*本实验特定：要求所有corsi刺激项目完全居中*/
#jspsych-corsi-stimulus { 
    position: absolute !important ;
    top: 50%  !important ;
    left: 50%  !important ;
    transform: translate(-50%, -50%) !important ;
  }